/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

/* Названия шрифтов */
:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", monospace;

  /* Толщина шрифтов */
  --font-weight-card-text: 400; /* Вес текста карточки */
  --font-weight-card-title: 700; /* Вес заголовка карточки */

  --font-variation-settings: "wght" var(--font-weight-card-title);

  /* цвета */
  /* --white: #fff;
  --black: #000;
  --mix-color: #fff;
  --red: #ff0000; */

  --background-primary: #ffffff;
  --text-primary: #000000; 
  --text-secondary: #ffffff; 
  --accent-color: #ff0000;

  /* ширина */
  --max-inline-size: 700px;

  /* градиент */
  --gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
